*{
    margin: 10px;
    padding: 0px;
    box-sizing: 0;
}
.logo{
    border: 1px solid blue;
    width: 40vw;
    height: 15vh;
}
.vd{
    border: 1px solid red;
}
.cont{
    border: 1px solid yellow;
    display: flex;
    justify-content: space-between;
}
.cont img{
    border: 1px solid black;
    height: 20vh;
}