*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sony {
    background-color: black;
    text-align: right;
    height: min-content;
}
.sony img{
    width: 75px; 
    margin: 0px 8px;
}

.navbar{
  font-weight: 400;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0px;
  z-index: 20;
  background-color: white;
}

.si{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
    /* justify-content: space-evenly; */
    margin-left: 450px;
    
}

.signin{
    background-color:#0070CC;
    color: white;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    width: 80px;
    height: 25px;
    margin-right: 20px;
}

.slider{
    margin: 35px;
    display: flex;
    justify-content: center;
    
}
.a img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;

}
.card{
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
}

#one{
    /* border: 2px solid blueviolet; */
    text-align: left;
    margin-left: 60px;
    margin-top: 60px;
}

.col-lg-5{
    padding-top: 60px;
}
.games{
    margin-top: 80px;
    text-align: left;
    background-color: black;
}

.games h1,h4{
    color: white;
    text-align: center;
}

.plus{
    background-image: url(./Images/pic/div3/newplay-play-play-ps-plus-background-desktop-01-ja-jp-03jul23.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    align-items: center;

}

.plus h2 img{
    margin-top: 80px;
}
.play{
    margin-bottom: 80px;
}
.disc{
    background-color: #0070CC;
    color: white;
    width: 200px;
    /* align-items: center; */
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    position:relative;
    bottom: 30px;
}
.disc p{
    padding: 10px;
}

.month{
    background-image: url(./Images/pic/div4/this-month-on-playstation-mar-homepage-background-desktop-01-en-15feb24.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.c4 {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 5px;
}
