*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;  /*background-color is lightblue unless other boundary condition is specified*/
}
@media  only screen and (min-width: 400px) { /*from 400px background-color is red*/
    body{
        background-color: red;
    }    
}
@media screen and (min-width: 600px) { /*from 600px background-color is yellow*/
    body{
        background-color: yellow;
    }
}
@media screen and (max-width: 200px) {   /*until 200px background-color is orange*/
    body{
        background-color: orange;
    }
}
 @media screen and (min-width:800px) and (max-width:1000px) { /*background color is brown between 800px and 1000px. After 1000px background color will become yellow (previously given)*/
    body{
        background-color: brown;
    }
 }

 /* .one{
    background-color: rgb(132, 66, 66);
 } */
 .one{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
 }
 .one h1{
    text-align: center;
 }
 @media screen and (min-width: 800px) {
    .one{
        background-color: chocolate;
    }
    .one h1{
        color: white;
    }
 }
 @media screen and (max-width:800px) { /*background color will be cornsilk upto max 800px of width*/
    .two{
        background-color: cornsilk;
    }
 }