div{
    background-color: red;
}
span{
    background-color: yellow;
}

.cont{
    background-color: blueviolet;
    text-align:center;
}
#s1 p{
    background-color: green;
    color: yellow;
}
#s2 {
   background-color: yellowgreen;
}
.element{
    display: flex;
    justify-content:space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
}