*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    border: 5px solid yellowgreen;
    padding: 5px;
    margin: 15px 50px 0px 50px;
}

.nav-container{
    background-color: #0f1111;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-container{
    /*border: 2px solid red;*/
    height: 60px;
}

.nav-item{
   /* border: 2px solid black;*/
}

.list{
   /* border: 5px solid green;*/
    display: inline;
    color: white;
    margin: 0px 100px 0px 150px;
}

.logo{
    display: inline;
    font-size: 25px;
    color: orange;
    margin-right: 72px;
}

input{
    margin-right: 3px;
}

button{
    background-color: orange;
}

/*work*/
p{
    width: 100px;
    height: 100px;
}

.intro{
    border: 3px solid yellow;
    background-color: burlywood;
    width: 200px;
    height: 100px;
}

.cont{
    border: 3px dotted orange;
    background-color:crimson;
    width: 200px;
    height: 100px;
}

.last{
    border: 3px solid blueviolet;
    background-color:coral;
    width: 200px;
    height: 100px;
}

footer{
    text-align: center;
    background-color:cyan;
    border: 2px solid black;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;