
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 10PX;
}
h1{
    text-align: center;
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#inner{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.sent{
    border: 2px solid blue;
    background-color: beige;
    text-decoration-line: line-through;
    /* text-decoration-style:double; */
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
    text-transform: uppercase;
}
.p1{
    font-family: 'Open Sans', sans-serif;
}
.p2{
    
}