h1{
    text-align: center;
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#inner{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}