*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navigation{
    background-color: rgb(51, 43, 43);
    color: white;
    text-transform: uppercase;
    height: 50px;
}
.p1{
    margin-left: 5%;
}