*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding:10px;
}

.left-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav select{
    border: 0px;
    background: none;
    padding: 0px;
    margin: 0px;
    color: white;
}

.left-nav img,select{
    margin: 0 20px 0 8px;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-size: 12px;
}

.right-nav .stores,.contact,.login,.heart,.bag {
padding: 0 5px 0 5px;
border-right: 2px solid white;
}

.stores{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation bar 2 */
.undertab{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.nav-under{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    margin-left: 140px;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-middle{
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.tab{
    border-bottom: 1px solid blueviolet;
}

.list-a{
    display: flex;
    color: rgb(60, 90, 89);
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.b{
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    padding: 20px 0px 15px;
}

.nav-right{
    display: flex;
    margin-left: 20px;
    margin-right: 60px;
}
.search{
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: px solid black;
}

.delivery{
    /* display: flex; */
    background-color: yellow;
    margin-left: 30px;
    margin-right: 80px;
    border-radius: 90px;
    width: 400px;
}

.deli{
    color: #0E3051;
}

.near{
    color: #C59A37;
}

/* divisions with flex */

.cont{
    padding: 30px 20px 10px 20px;
    margin: 50px 20px 10px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head{
    color: #0E3051;
    /* font-family: myfont; */
    font-size: 18px;
    text-align: center;
    
}

.cont1,.cont2,.cont3,.cont4,.cont5,.cont6{
    justify-content: space-around;
}

.dwnld{
    background-color: #F9E79F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.code{
    display: flex;
}
/* divider */
.divider{
    justify-content: center;
    align-items: center;
    padding:50px 50px 0px 50px;
    margin:0px 100px 0px 100px;
}

.text{
    text-align: center;
    padding-top: 50px;
}

.elevate{
    padding-top: 20px;
}

.sty{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.one{
    margin-right: 60px;
}

.two{
    margin-right: 60px;
}