*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}
.grid-container{
    /* display: inline-grid; */
    display: grid;
    height: 40vh;
    /* grid-template-rows: 80px 150px 50px; */
    /* grid-template-columns: auto auto auto; */
    /* column-gap: 80px;
    row-gap: 40px; */
    /* gap: 10px 100px;   row gap * column gap */
    /* gap: 50px ; gap given to both row and column */
    
    justify-content: end;
    justify-content: start;
    justify-content: center;
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;       horizontal */
    align-content: center;
    /* align-content:end; */
    border: 1px solid red;
}
.grid-item{
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}

#item1{
    grid-column-start: 1;
    grid-column-end: 3;
}  
    
#item9{
    grid-column-start: 1;
    grid-column-end: 4;
}
#item5{
    grid-area: 1/2/5/7;
}
.container{
    display: grid;
    border: 1px solid blueviolet;
    justify-content: center;
    grid-template-columns: auto auto auto;
    
}
.grid{
    border: 2px solid yellow;
    padding: 20px;
    text-align: center;
    background-color: brown;
}
#one{
    grid-column-start: 1;
    grid-column-end: 4;
}
#two{
    grid-row-start: 2;
    grid-row-end: 4;
}
.list1{grid-area: header;}
.list2{grid-area: menu;}
.list3{grid-area: main;}
.list4{grid-area: right;}
.list5{grid-area: footer;}
.cont{
    display: grid;
    background-color: #2196F3;
    /* border: 3px solid rgb(7, 7, 218); */
    grid-template-areas: 'header header header header header header''menu main main main right right' 'menu footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}
.cont> div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0; 
    font-size: 30px;
}
#l{
    border: 5px solid red;
}

/* .gr{
    border: 5px solid red;
}
.list1{
    background-color: #2196F3;
} */