body {
    background-color: rgb(141, 252, 242);;
    color: rgb(32, 83, 128);
}
.form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 30vh;
    font-size: larger;
    font-size: 25px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: auto;
}

table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;

}
