*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    list-style: none;
    position:sticky;
    top: 0px;
    z-index: 999;
    padding:10px 400px 10px 400px;
}

.cont{
   
    width: 100%;
}

.iphone{
    color: white;
    width: 100%;
    /* background-color: black; */
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-family: 600;
    line-height: 1.07143;
    text-align: center;
    position: relative;
}
.pro{
    display: flex;
    justify-content: center;
    position: absolute;
}

.p1{
    font-size: 28px;
}