*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    list-style: none;
    position:sticky;
    top: 0px;
    z-index: 999;
    padding:10px 400px 10px 400px;
}
.pro img{
    padding-right: 1100px;
    max-zoom: 200%;
}