*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: yellowgreen;
    color: antiquewhite;
    border: 1px solid yellowgreen;
}
.content{
    text-align: center;
    color: yellow;
    background-color:darkcyan;
}
.last{
    background-color: yellowgreen;
    text-align: center;

}